
.chart{
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    
}
.main{
    font-size: 27px;
    text-align: center;
}
.info{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}